[submodule "optimized-elevator-action"]
	path = optimized-elevator-action
	url = https://github.com/chimnz/optimized-elevator-action.git
[submodule "elevator-call-generator"]
	path = elevator-call-generator
	url = https://github.com/chimnz/elevator-call-generator.git
